body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background:linear-gradient(55deg, #431F54 0%, #151226 60%, #17254A 100%);;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer{
  color: #fff;
  font-size: 20px;
  padding-bottom: 1rem;
  position: absolute;
  bottom: 4%;
}
